html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
}
div#__next{
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-layout{
    background: transparent;
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-description {
    /* color: rgba(0, 0, 0, 0.45); */
    font-size: 14px;
    line-height: 1.5714285714285714;
}
